*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(6, 6, 210);
}
.nav-link{
    color: #fff !important;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;

}
.fa-bars{
    color: #fff;
    
}
.navbar-toggle{
    border: 0;
    outline: none;
}
.nav-link:hover{
border-bottom: 2px solid #fff;
}
.banner{
    margin-top: 8px;
    right: 20px;
    color: #fff;
}
.banner img{
    max-height: 500px;
}
.express-btn{
    background: #fff;
    color: #000;
    margin-right: 5px;
}
